:root {
    --color-midnight: #0A1C22;
    --color-dusk: #22424D;
    --color-stardust: #395E6C;
    /* --color-embers: #7E3219; */
    --color-embers: #682714;
    --color-sunrise: #EE9639;
    --color-ash: #D6C1A8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 16px;
}

#starry-night {
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#intro {
    width: 100%;
    height: 100vh;
    background-color: var(--color-dusk);
    background-image: radial-gradient(ellipse at bottom, var(--color-dusk) 0%, var(--color-midnight) 65%);
    position: relative;
    overflow: hidden;
}

#intro .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 5;
    height: 100%;
}

h1 {
    color: var(--color-embers);
    font-family: 'beloved-script', cursive;
    font-size: 9rem;
    margin: 0 0 50px;
    line-height: 1;
    text-shadow: 0 1px #d6562b;
}

nav a {
    color: var(--color-ash);
    text-decoration: none;
    text-transform: uppercase;
    font-family: beloved-sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 50px;
}

.trees {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.tree {
    position: absolute;
}

.foreground {
    opacity: 1;
    z-index: 10;
}

.midground {
    opacity: 0.4;
    z-index: 9;
}

.background {
    opacity: 0.15;
    z-index: 8;
}

.t-one {
    left: -9em;
    bottom: -12em;
}

.t-two {
    right: -14em;
    bottom: -7em;
    transform: scale(1.2) rotateY(180deg);
}

.t-three {
    left: 2em;
    bottom: -4em;
    transform: scale(0.5) rotateY(180deg);
    transform-origin: bottom;
}

.t-four {
    right: 0;
    bottom: -4em;
    transform: scale(0.6);
    transform-origin: bottom;
}

.t-five {
    left: 9em;
    bottom: -2em;
    transform: scale(0.3);
    transform-origin: bottom;
}