:root {
    --color-midnight: #0A1C22;
    --color-dusk: #22424D;
    --color-stardust: #395E6C;
    /* --color-embers: #7E3219; */
    --color-embers: #682714;
    --color-sunrise: #EE9639;
    --color-ash: #D6C1A8;
    --color-black: #051115;
    --color-fog: #E0E0E0;
    --color-starlight: #f7f7f7;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-dusk);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color-dusk);
    font-family: bely-display, serif;
    margin: 1em 0 0.35em;
    line-height: 1.2;
}

h1, .heading-size-1 {
    font-size: 6rem;
    color: var(--color-fog);
}

h2, .heading-size-2 {
    font-size: 4rem;
    color: var(--color-embers);
}

h3, .heading-size-3 {
    font-size: 2.75rem;
}

h4, .heading-size-4 {
    font-size: 2rem;
}

h5, .heading-size-5 {
    font-size: 1.5rem;
}

p {
    line-height: 2;
    font-size: 1.1rem;
}

ul, ol {
    line-height: 2;
    font-size: 1.1rem;
}

a {
    color: var(--color-embers);
}

a:hover {
    text-decoration: none;
}

.separator {
    display: block;
    border-bottom: 1px solid var(--color-fog);
    margin: 2.5rem 0;
}

.separator.half-line {
    width: 50%;
    min-width: 150px;
}

.text-link {
    font-size: 1.25rem;
    color: var(--color-dusk);
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.text-link:hover {
    color: var(--color-stardust);
}

.subtitle {
    font-family: 'beloved-sans', Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

.body-display {
    font-family: 'beloved-sans', Poppins, sans-serif;
    font-weight: 700;
    font-size: 2.4375rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin: 0.5em 0 1em;
    line-height: 1.5;

}

.body-large {
    font-family: 'beloved-sans', Poppins, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

.font-body {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 0.5em;
}

/* Address */
address {
    border-left: 2px solid var(--color-ash);
    padding-left: 1.5rem;
    margin: 1.5em 0;
}

/* Color Classes */
.bg-fog {
    background-color: var(--color-fog);
}

.bg-starlight {
    background-color: var(--color-starlight);
}

.text-ash {
    color: var(--color-ash);
}
.text-embers {
    color: var(--color-embers);
}
.text-dusk {
    color: var(--color-dusk);
}
.text-ash {
    color: var(--color-ash);
}
.text-sunrise {
    color: var(--color-sunrise);
}
.text-white {
    color: #ffffff;
}

/* Utilities Classes */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 18px;
}
.wrapper-narrow {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 18px;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* Buttons */
.btn {
    background-color: var(--color-dusk);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem 0.6rem;
    font-family: 'beloved-sans', Poppins, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.btn-primary {
    background-color: var(--color-dusk);
}

.btn.btn-accent {
    background-color: var(--color-embers);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 400px;
    margin: 15px auto;
}

.btn-group .btn {
    width: 50%;
    padding: 1.1rem 2rem 0.7rem;
}


/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.grid.cols_3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid.gap-15 {
    grid-gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 25px 50px;
    text-align: center;
}

.card .card-title {
    margin-top: 0;
    margin-bottom: 1.3em;
}

.card img {
    max-width: 100%;
    max-height: 40px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.card a {
    margin-top: auto;
}


/* Site Header */
.site-header {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .branding {
    max-height: 89px;
}

.site-header .branding a {
    display: block;
}

.site-header .branding img {
    width: 100%;
}

.site-header.header-light nav a {
    color: #fff;
}


/* Navigation */
nav a {
    color: var(--color-embers);
    text-decoration: none;
    text-transform: uppercase;
    font-family: beloved-sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 15px;
    position: relative;
    display: inline-block;
}

nav a:first-of-type {
    -webkit-animation-delay: 2.75s;
            animation-delay: 2.75s;
}

nav a:last-of-type {
    -webkit-animation-delay: 3.25s;
            animation-delay: 3.25s;
}

/* nav a:not(:last-child)::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--color-embers);
    position: absolute;
    top: calc(50% - 3px);
    right: -70px;
} */

nav a::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-stardust);
    position: absolute;
    bottom: -10px;
    left: calc(50% - 5px);
    border-radius: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

nav a:hover::before {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

/* Hero Sections */
.hero {
    background-color: var(--color-fog);
    background-size: cover;
    background-position: center;
    max-height: 450px;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home .hero {
    max-height: 800px;
}

.hero .wrapper-narrow {
    width: 100%;
}

.page-title {
    margin-bottom: -6px;
    text-transform: uppercase;
    line-height: 0.75;
    font-size: 5.9rem;
}

.intro {
    padding: 55px 0;
    text-align: center;
}

.intro .body-display {
    margin-top: 0;
}


/* FP FAQs */
.faq {
    padding-top: 0px;
    margin-bottom: 200px;
}
.faq .card {
    margin-bottom: -150px;
}


/* Countdown */
.countdown {
    text-align: center;
    padding: 55px 0;
}


/* Coundown Timer */
#jdsc_countdown {
    width: 100%;
    max-width: 960px;
    margin: 25px auto;
    text-align: center;
    min-height: 111px;
    position: relative;
    display: flex;
    justify-content: center;
}
.jdsc_digits {
    padding: 20px 40px;
    display: block;
    font-family: bely-display, sans-serif;
    font-size: 6.875rem;
    margin: 0 5px;
    text-align: center;
    position: relative;
    color: var(--color-embers);
    line-height: 1;
    width: 25%;
}
.jdsc_digits:not(:last-child)::after {
    content: ":";
    position: absolute;
    right: -19px;
    top: calc(50% - 65px);
}
.jdsc_digits > em {
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
#jdsc_countdown .jdsc_loading_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    max-width: 30px;
}
#jdsc_countdown.loaded .jdsc_digits {
    display: inline-block;
}
#jdsc_countdown.loaded .jdsc_loading_icon {
    display: none;
}

#jdsc_title {
    display: block;
    margin-top: 12px;
    font-size: 18px;
}


/* FP Gallery CTA */
.gallery {
    padding: 150px 0;
}

.gallery .grid {
    align-items: center;
}

.media-col {
    display: flex;
    justify-content: center
}

.media-stack {
    position: relative;
    transform: translateX(50px);
    max-width: 450px;
}

.media-stack img {
    transform: translate(0px, -60px) rotate(3deg);
    width: 100%;
}

.media-stack img:first-child {
    position: absolute;
    top: -10px;
    left: -100px;
    z-index: -1;
    transform: rotate(-6deg);
}

.media-stack img:last-child {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -1;
    transform: rotate(4deg);
}

.media-text-group .text-col > * {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
}


/* Int Pages */
.page-content {
    padding: 35px 0 100px;
}

.hotels .card {
    padding: 35px 18px 25px;
}

.hotels .card a {
    font-size: 0.9rem;
}

/* RSVP Form */
fieldset {
    margin: 5px 0 15px;
    border-style: dotted;
    padding: 10px 20px 20px;
}
label {
    display: block;
    font-weight: bold;
}
label.label-inline {
    display: inline;
}
input, select, textarea {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    font-family: "Poppins", "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 8px 12px;
    margin: 5px 0 10px;
}

.radio-group {
    margin: 5px 0 10px;
}
.radio-group .label-sm {
    margin-right: 15px;
    display: block;
    font-weight: bold;
}
.radio-field {
    padding-right: 15px;
    display: block;
}
.radio-field input {
    display: inline;
    width: auto;
}
.radio-field label {
    font-weight: normal;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
}

.notice {
    background-color: var(--color-fog);
    padding: 10px;
    text-align: center;
    display: none;
}

/* Site footer */
.site-footer {
    background-image: url(../img/footer-rooftop.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    padding: 35px 0;
}

.footer-nav-container {
    display: flex;
    align-items: center;
    gap: 35px;
}


/* Mobile Menu */
#menu-toggle {
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 7px;
}
#menu-toggle .bar {
    width: 100%;
    height: 2px;
    background: var(--color-embers);
    display: block;
}

#close-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 35px;
    right: 25px;
}
#close-menu .bar {
    width: 100%;
    height: 2px;
    background: var(--color-embers);
    display: block;
    transform: rotate(45deg);
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 0;
}
#close-menu .bar:last-child {
    transform: rotate(-45deg);
}

.mobile-menu-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-fog);
    padding: 50px 25px;
    opacity: 0;
    pointer-events: none;
}

.mobile-menu-container.menu-open {
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
}

.mobile-menu a {
    color: var(--color-embers);
    text-decoration: none;
    text-transform: uppercase;
    font-family: beloved-sans;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
    margin: 0 0 30px;
    position: relative;
    opacity: 0;
}

.mobile-menu a span {
    font-size: 0.4em;
    color: var(--color-dusk);
    display: block;
    padding-left: 3px;
}

.mobile-menu-container .monogram {
    max-width: 75px;
    margin-top: auto;
    opacity: 0;
}


/* Animate mobile menu */
.menu-open a {
    -webkit-animation: fadeInUp 1s ease-in-out 0.25s 1 normal forwards;
            animation: fadeInUp 1s ease-in-out 0.25s 1 normal forwards;
}
.menu-open a:nth-child(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.menu-open a:nth-child(3) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}
.menu-open a:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.menu-open img {
    -webkit-animation: fadeIn 1s ease-in-out 1.75s 1 normal forwards;
            animation: fadeIn 1s ease-in-out 1.75s 1 normal forwards;
}

/* Animations */

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        /* width: 0px; */
        opacity: 0;
    }
    to {
        /* width: 190px; */
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        /* width: 0px; */
        opacity: 0;
    }
    to {
        /* width: 190px; */
        opacity: 1;
    }
}



@media screen and (max-width: 600px) {

    h1, .heading-size-1 {
        font-size: 3.5rem;
    }

    h2, .heading-size-2 {
        font-size: 2.6rem;
    }

    h3, .heading-size-3 {
        font-size: 2.2rem;
    }

    h4, .heading-size-4 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1rem;
    }

    ul,ol {
        font-size: 1rem;
    }
    
    .body-display {
        font-size: 1.4rem;
    }
    
    .body-large {
        font-size: 1rem;
    }

    .page-title {
        font-size: 3.8rem;
    }

    .btn-group {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 0;
    }

    .btn-group .btn {
        width: 100%;
    }

    .text-link {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid.cols_3 {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 45px 25px 30px;
    }

    .site-header {
        top: 0;
        padding: 10px 0
    }

    .site-header .branding img {
        max-width: 200px;
        padding-top: 5px;
    }

    #menu-toggle {
        display: flex;
    }

    body:not(.home) #menu-toggle .bar {
        background-color: #ffffff;
    }

    .site-header .site-nav {
        display: none;
    }

    .hero {
        max-height: 350px;
    }

    .home .hero {
        max-height: 450px;
    }

    .intro {
        padding: 35px 0;
        text-align: left;
    }

    .faq {
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    .faq .card {
        margin-bottom: 0;
    }

    #jdsc_countdown {
        margin: 0 auto;
        align-items: center;
    }
    .jdsc_digits {
        padding: 10px;
        font-size: 2.875rem;
    }

    .jdsc_digits:not(:last-child)::after {
        right: -10px;
        top: calc(50% - 35px);
    }

    .gallery {
        overflow: hidden;
        padding: 100px 0;
    }

    .media-stack {
        transform: scale(0.9);
    }

    .page-content {
        padding-bottom: 55px;
    }

    form .grid {
        grid-gap: 0;
    }

    .footer-nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-nav a {
        display: block;
        margin-left: 5px;
    }
}