:root {
    --color-midnight: #0A1C22;
    --color-dusk: #22424D;
    --color-stardust: #395E6C;
    /* --color-embers: #7E3219; */
    --color-embers: #682714;
    --color-sunrise: #EE9639;
    --color-ash: #D6C1A8;
    --color-black: #051115;
    --color-fog: #E0E0E0;
    --color-starlight: #f7f7f7;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color-dusk);
    font-family: 'Bely Display', serif;
    margin: 0 0 1em;
    line-height: 1;
}

h1, .heading-size-1 {
    font-size: 6.1875rem;
    color: var(--color-fog);
}

h2, .heading-size-2 {
    font-size: 4.125rem;
}

h3, .heading-size-3 {
    font-size: 2.75rem;
}

h4, .heading-size-4 {
    font-size: 1.8333rem;
}

a:hover {
    text-decoration: none;
}

.text-link {
    font-size: 1.25rem;
    color: var(--color-dusk);
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.text-link:hover {
    color: var(--color-stardust);
}

.subtitle {
    font-family: 'beloved-sans', 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

.body-display {
    font-family: 'beloved-sans', 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4375rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

.body-large {
    font-family: 'beloved-sans', 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

/* Color Classes */
.bg-fog {
    background-color: var(--color-fog);
}

.bg-starlight {
    background-color: var(--color-starlight);
}

.text-ash {
    color: var(--color-ash);
}
.text-embers {
    color: var(--color-embers);
}
.text-sunrise {
    color: var(--color-sunrise);
}
.text-white {
    color: #ffffff;
}

/* Utilities Classes */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 18px;
}
.wrapper-narrow {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 18px;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Buttons */
.btn {
    background-color: var(--color-dusk);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem 0.6rem;
    font-family: 'beloved-sans', 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.btn-primary {
    background-color: var(--color-dusk);
}

.btn.btn-accent {
    background-color: var(--color-embers);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 400px;
    margin: 15px auto;
}

.btn-group .btn {
    width: 50%;
    padding: 1.1rem 2rem 0.7rem;
}


/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.grid.cols_3 {
    grid-template-columns: repeat(3, 1fr)
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 25px 50px;
    text-align: center;
}

.card a {
    margin-top: auto;
}


/* Site Header */
.site-header {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .branding {
    max-height: 89px;
}

.site-header .branding img {
    width: 100%;
}


/* Navigation */
nav a {
    color: var(--color-embers);
    text-decoration: none;
    text-transform: uppercase;
    font-family: beloved-sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 15px;
    position: relative;
    display: inline-block;
}

nav a:first-of-type {
    -webkit-animation-delay: 2.75s;
            animation-delay: 2.75s;
}

nav a:last-of-type {
    -webkit-animation-delay: 3.25s;
            animation-delay: 3.25s;
}

/* nav a:not(:last-child)::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--color-embers);
    position: absolute;
    top: calc(50% - 3px);
    right: -70px;
} */

nav a::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-stardust);
    position: absolute;
    bottom: -10px;
    left: calc(50% - 5px);
    border-radius: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

nav a:hover::before {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

/* Hero Sections */
.hero {
    background-color: var(--color-fog);
    background-size: cover;
    background-position: center;
    max-height: 800px;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.hero .wrapper-narrow {
    width: 100%;
}

.page-title {
    margin-bottom: -6px;
    text-transform: uppercase;
    line-height: 0.75;
    font-size: 5.9rem;
}

.intro {
    padding: 35px 0;
    text-align: center;
}

.intro .body-display {
    margin-top: 0;
}


/* FP FAQs */
.faq {
    padding-top: 90px;
    margin-bottom: 250px;
}
.faq .card {
    margin-bottom: -150px;
}


/* Countdown */
.countdown {
    text-align: center;
    padding: 55px 0;
}


/* Coundown Timer */
#jdsc_countdown {
    width: 100%;
    max-width: 960px;
    margin: 25px auto;
    text-align: center;
    min-height: 111px;
    position: relative;
    display: flex;
    justify-content: center;
}
.jdsc_digits {
    padding: 20px 40px;
    display: block;
    font-family: 'Bely Display', sans-serif;
    font-size: 6.875rem;
    margin: 0 5px;
    text-align: center;
    position: relative;
    color: var(--color-embers);
    line-height: 1;
    width: 25%;
}
.jdsc_digits:not(:last-child)::after {
    content: ":";
    position: absolute;
    right: -19px;
    top: calc(50% - 65px);
}
.jdsc_digits > em {
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
#jdsc_countdown .jdsc_loading_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    max-width: 30px;
}
#jdsc_countdown.loaded .jdsc_digits {
    display: inline-block;
}
#jdsc_countdown.loaded .jdsc_loading_icon {
    display: none;
}

#jdsc_title {
    display: block;
    margin-top: 12px;
    font-size: 18px;
}


/* FP Gallery CTA */
.gallery {
    padding: 100px 0;
}


/* Site footer */
.site-footer {
    background-image: url(../img/footer-rooftop.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    padding: 35px 0;
}

.footer-nav-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

/* Old design */

.title {
    -webkit-animation: fadeInUp 1s ease-in-out 2s 1 normal forwards;
            animation: fadeInUp 1s ease-in-out 2s 1 normal forwards;
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 0;
    overflow: visible;
    display: block;
    width: 100%;
}

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        /* width: 0px; */
        opacity: 0;
    }
    to {
        /* width: 190px; */
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        /* width: 0px; */
        opacity: 0;
    }
    to {
        /* width: 190px; */
        opacity: 1;
    }
}


#story {
    background-color: var(--color-black);
    color: var(--color-ash);
    text-align: center;
    padding: 100px 20px;
    overflow: hidden;
}

#story p {
    line-height: 2.5;
}

#story .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 450px;
    grid-template-columns: 1fr 450px;
    grid-gap: 25px;
    max-width: 1200px;
}

.scrolling-imgs {
    position: relative;

}

.image-strip {
    position: absolute;
    height: calc(100% + 200px);
    margin: -100px 0;
    text-align: right;
}

.image-strip img {
    max-width: 400px;
}

#venue {
    background-color: var(--color-embers);
    color: var(--color-ash);
    text-align: center;
    padding: 100px 20px;
}

#venue h2 {
    font-size: 7rem;
}

.details {
    max-width: 1080px;
    margin: 40px auto 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 50px 1fr;
    grid-template-columns: 400px 1fr;
    grid-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.details > div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.venue-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
    position: relative;
    margin: 35px 0;
}

.venue-details::after {
    content: '';
    display: block;
    width: 1px;
    border-left: 1px solid var(--color-midnight);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
}

.venue-details span {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--color-midnight);
    color: var(--color-sunrise);
    margin: 10px auto;
    display: block;
}

.map-window {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0px 0px 0 14px var(--color-embers), 0px 0px 0 15px var(--color-midnight);
            box-shadow: 0px 0px 0 14px var(--color-embers), 0px 0px 0 15px var(--color-midnight);
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.map-window:hover {
    -webkit-box-shadow: 0px 0px 0 14px var(--color-embers), 0px 0px 0 15px var(--color-sunrise);
            box-shadow: 0px 0px 0 14px var(--color-embers), 0px 0px 0 15px var(--color-sunrise);
}

#venue-map {
    width: 100%;
    height: calc(100% + 20px);
}

.map-controls {
    margin-top: 30px;
}

.map-controls span {
    display: inline-block;
    border: 1px solid var(--color-midnight);
    color: var(--color-midnight);
    padding: 12px 10px;
    margin: 5px;
    width: 50px;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.map-controls span:hover {
    border-color: var(--color-surise);
    color: var(--color-sunrise);
}

#registry {
    background-color: var(--color-ash);
    color: var(--color-midnight);
    text-align: center;
    padding: 100px 20px;
}

.registry-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 75px auto 50px;
    max-width: 1080px;
}

.registry-logos > a {
    position: relative;
}

.registry-logos > a::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-midnight);
    position: absolute;
    bottom: -20px;
    left: calc(50% - 5px);
    border-radius: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.registry-logos > a:hover::after {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

.registry-logos img {
    width: auto;
    max-height: 50px;
    max-width: 550px;
}

.registry-logos img.target {
    max-height: 75px;
}

#registry p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#registry p a {
    color: var(--color-embers);
}

#contact {
    background-color: var(--color-midnight);
    color: var(--color-ash);
    text-align: center;
    padding: 100px 20px;
}

#contact p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* @keyframes moonrise {
    from {
        left: 100%;
        top: 60%;
    }
    10% {
        left: 95%;
        top: 50%;
    }
    20% {
        left: 90%;
        top: 33%;
    }
    30% {
        left: 80%;
        top: 13%;
    }
    40% {
        left: 70%;
        top: 2%;
    }
    50% {
        left: 60%;
        top: -7%;
    }
    60% {
        left: 50%;
        top: -10%;
    }
    70% {
        left: 40%;
        top: -10%;
    }
    80% {
        left: 30%;
        top: -5%;
    }
    90% {
        left: 20%;
        top: 5%;
    }
    to {
        left: 10%;
        top: 20%;
    }
} */

@-webkit-keyframes moonrise {
    from {
        left: 4%;
        top: 30%;
    }
    33% {
        left: 8%;
        top: 20%;
    }
    /* 50% {
        left: 10%;
        top: 17%;
    } */
    66% {
        left: 12%;
        top: 14%;
    }
    to {
        left: 15%;
        top: 10%;
    }
}

@keyframes moonrise {
    from {
        left: 4%;
        top: 30%;
    }
    33% {
        left: 8%;
        top: 20%;
    }
    /* 50% {
        left: 10%;
        top: 17%;
    } */
    66% {
        left: 12%;
        top: 14%;
    }
    to {
        left: 15%;
        top: 10%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4.5rem;
    }
    nav a {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    nav a::before {
        content: none;
    }
    nav a::after {
        content: none !important;
    }

    .t-one {
        left: -80%;
    }
    .t-two {
        right: -80%
    }
    .t-three {
        left: -40%
    }
    .t-four {
        right: -40%
    }
    .t-five {
        display: none;
    }
    .t-six {
        bottom: -70px;
        max-height: 320px;
    }

    #intro .mountains {
        max-height: 80%;
        background-position-x: 31%;
    }

    #story .grid {
        -ms-grid-columns: 1fr 0;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #story .grid > div:first-child {
        position: relative;
        z-index: 5;
    }

    .scrolling-imgs {
        z-index: 2;
        opacity: 0.3;
        mix-blend-mode: luminosity;
    }

    .image-strip {
        height: auto;
        width: 100%;
        margin: 0;
    }

    .image-strip img {
        width: 100%;
    }

    .image-strip img:nth-child(2) {
        display: none;
    }

    h2 {
        font-size: 4.5rem;
    }

    #story h2 {
        color: var(--color-sunrise);
    }

    #story p {
        font-size: 15px;
    }

    #venue {
        padding: 30px 20px;
    }

    #venue h2 {
        font-size: 4rem;
    }

    .details {
        display: block;
    }

    .details > div:first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .venue-details {
        font-size: 1rem;
        margin: 25px 0 50px;
    }

    .venue-details span {
        font-size: 1rem;
    }

    .map-window {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    #registry {
        padding: 50px 20px;
    }

    .registry-logos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 25px auto;
    }

    .registry-logos img {
        width: 100%;
        margin: 20px 0px;
    }
}